@import "./vars.scss";
.AboutShow {
  width: 100%;
  height: 100%;
  .Tabs {
    width: 100%;
    height: toRem(40.6);
    border-bottom: toRem(2) solid $line;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .CloseIcon {
      cursor: pointer;
    }
    .Tab {
      width: toRem(200.48);
      height: 100%;
      display: flex;
      align-items: center;
      border-right: toRem(2) solid $line;
      justify-content: flex-start;
      padding-left: toRem(14.25);
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      gap: toRem(12);
      &.Active {
        transition: 0.5s ease;
        position: static;
        opacity: 1;
        visibility: visible;
        &Tab {
          color: $secondary4;
        }
      }
      &.ProfessionalTab {
        font-size: toRem(14);
      }
      &.HobbiesTab {
        width: toRem(130);
      }
      &.BioTab {
        width: toRem(90);
      }
      &.InterestsTab {
        width: toRem(150);
      }
      &.EduTab {
        width: toRem(150);
      }
    }
  }
  .TabContent {
    ol {
      display: flex;
      flex-direction: column;
      font-size: toRem(14);
      margin-top: toRem(17.9);
      list-style: none;
      li {
        padding-left: toRem(40);
        &::marker {
          content: counter(list-item);
        }
        a {
          color: $secondary3;
        }
      }
    }
  }
}
.unActive {
  display: none;
  &.Active {
    display: block;
  }
}
@include BreakpointDown(1126) {
  .AboutShow {
    .Tabs {
      border-bottom: none;
      .Tab {
        border-right: none;
        &.ActiveTab {
          width: 100%;
          margin-left: toRem(25);
        }
      }
    }
  }
}
@include BreakpointDown(720) {
  .AboutShow {
    .Tabs {
      .Tab {
        font-size: $xs;
      }
    }
    .tabInfo {
      .TabContent {
        ol {
          li {
            padding-left: 0;
            &::marker {
              content: none;
            }
          }
        }
      }
    }
  }
}
@include BreakpointDown(684) {
  .AboutShow {
    .Tabs {
      .Tab {
        font-size: $l;
      }
    }
    .tabInfo {
      .TabContent {
        ol {
          li {
            font-size: toRem(12);
          }
        }
      }
    }
  }
}
@include BreakpointDown(594) {
  .AboutShow {
    .tabInfo {
      .TabContent {
        ol {
          li {
            font-size: toRem(11);
          }
        }
      }
    }
  }
}
@include BreakpointDown(556) {
  .AboutShow {
    .tabInfo {
      .TabContent {
        ol {
          li {
            font-size: toRem(10);
          }
        }
      }
    }
  }
}
@include BreakpointDown(508) {
  .AboutShow {
    .Tabs {
      .Tab {
        font-size: $s;
      }
    }
    .tabInfo {
      .TabContent {
        ol {
          li {
            font-size: toRem(9);
          }
        }
      }
    }
  }
}
@include BreakpointDown(470) {
  .AboutShow {
    .Tabs {
      .Tab {
        font-size: $s;
      }
    }
    .tabInfo {
      .TabContent {
        ol {
          li {
            font-size: toRem(8);
          }
        }
      }
    }
  }
}
@include BreakpointUp(375) {
  .AboutShow {
    .tabInfo {
      .MinTab {
        ol {
          li {
            font-size: 16px;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
