@import "./vars.scss";
.Burger{
    display: none;
}
@include BreakpointDown(946) {
    .Burger{
        display: block;
        background-color: transparent;
        font-size: $x;
        display: flex;
        align-items: center;
        margin-right: toRem(18);
    }
}