@import "./vars.scss";
.BurgerMenu {
  transition: 0s linear;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.BurgerMenuActive {
  transition: 0.5s linear;
  position: static;
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .Active {
    border-bottom: toRem(2) solid $accent1;
    color: $secondary4;
  }
  a {
    width: 100%;
    display: flex;
    height: toRem(55);
    padding-left: toRem(25);
    align-items: center;
    border-bottom: toRem(2) solid $line;
  }
}
