// Fonts
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");
@import "./vars.scss";

// Global Styles
* {
  font-family: "Fira Code", monospace;
  font-weight: 450;
  color: $secondary1;
  user-select: none;
}
@include BreakpointDown(1024) {
  * {
    cursor: auto;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: $bgprimary;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
button,
textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  border: none;
  outline: 0;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// Scrollbar Styles
::-webkit-scrollbar {
  width: toRem(3);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-thumb:horizontal {
  height: toRem(8);
}

::-webkit-scrollbar-thumb:vertical {
  width: toRem(8);
}

::-webkit-scrollbar-track {
  background: $secondary4;
}

::-webkit-scrollbar-button {
  background: #888;
}

::-webkit-scrollbar-button:hover {
  background: #999;
}

::-webkit-scrollbar-button:active {
  background: #999;
}
