@import "./vars.scss";
.Home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: toRem(129);
  background-image: url("../images/Background\ Blurs.png");
  background-repeat: no-repeat;
  background-position: right toRem(0) bottom 75%;
}
@include BreakpointDown(1370) {
  .Home {
    background-position: center;
    .Game {
      display: none;
    }
  }
}
