// Colors
$bgprimary: #010c15;

// Primary Colors
$primary1: #01080e;
$primary2: #011627;
$primary3: #011221;

// Secondary Colors
$secondary1: #607b96;
$secondary2: #3c9d93;
$secondary3: #4d5bce;
$secondary4: #ffffff;

// Accent Colors
$accent1: #fea55f;
$accent2: #43d9ad;
$accent3: #e99287;
$accent4: #c98bdf;

// Lines
$line: #1e2d3d;

// Gradients
$gradient1: #4d5bce;
$gradient2: #43d9ad;

// Start Button
$start: #1c2b3a;

// Functions
@function toRem($value) {
  $unitlessValue: if(type-of($value) == 'number', $value, str-slice($value, 1, -2));
  $remValue: $unitlessValue / 16 * 1rem;
  @return $remValue;
}

// Breakpoints
@mixin BreakpointDown($value) {
  @media (max-width: toRem($value)) {
    @content;
  }
}
@mixin BreakpointUp($value) {
  @media (min-width: toRem($value)) {
    @content;
  }
}

// Font Sizes
$xxl: toRem(62);
$xl: toRem(32);
$x: toRem(24);
$xs: toRem(18);
$l: toRem(16);
$s: toRem(14);